canvas {
  background-color: #272727;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flag {
  z-index: -100;
}

.mod-name-flag {
  z-index: -100;
}

.hide {
  display: none;
}

.to-back {
  z-index: -1000;
}

.loading {
  width: 40vw;
  color: #f2f2f2;
  background-color: rgba(76, 160, 170, 0.65);
  border-radius: 10px;
  padding: 30px;
  font-size: 24px;
}

.selectBox {
  border: 1px solid #55aaff;
  background-color: rgba(75, 160, 255, 0.3);
  position: fixed;
}

.front {
  z-index: 3000;
}

