.ant-card-contain-grid::-webkit-scrollbar {
  width: 0 !important;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.ant-card-contain-grid,
.hide-scrollbar {
  -ms-overflow-style: none;
}

.ant-card-contain-grid,
.hide-scrollbar {
  overflow: -moz-scrollbars-none;
}
.hide-scrollbar {
  background-color: rgba(76, 160, 170, 0.65);
}
.ant-card {
  background-color: rgba(76, 160, 170, 0.65);
}
.ant-card-small > .ant-card-body {
  padding: 1px;
}
.ant-btn {
  background-color: rgba(0, 0, 0, 0.85);
  color: #f2f2f2;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  color: black;
  font-weight: 600;
  background-color: rgba(220, 220, 220, 0.85);
  border: rgba(220, 220, 220, 0.85) 1px solid;
}

.ant-tabs-nav {
  background-color: #2ac9cf;
  color: #fff;
}
.ant-card-grid h5 {
  color: #fff;
  font-size: 10px;
}
#root .ant-card-body canvas {
  background-color: #2ac9cf;
}
#root .ant-list-item-meta-content,
#root .ant-list-item-meta-title,
#root .ant-list-item-meta-description,
#root .ant-form-item-control-input-content,
#root .ant-card-head-title {
  color: #fff;
}
#root .ant-tabs-nav-operations {
  display: none !important;
}
#root .ant-tabs-tab {
  padding: 1px 16px;
}
#root .ant-list-split .ant-list-item {
  border-bottom: none;
}
.ant-form-item-label > label {
  color: #fff;
}
.ant-card-grid {
  box-shadow: none;
}
.card-title-wrap {
  display: flex;
  color: #fff;
  font-size: 10px;
  background-color: rgba(76, 160, 170, 0.65);
  padding-left: 1vw;
  margin-bottom: 2px;
  align-items: center;
}
.card-position-wrap {
  border-top: 2px solid #2bd9da;
  padding-top: 2px;
}
.card-body-border {
  padding: 3px;
  border: 2px solid #2bd9da;
}
.top-nav {
  position: absolute;
  z-index: 999999;
  display: flex;
  width: 100%;
  height: 4.7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.top-nav .action {
  display: flex;
  height: 4.7vh;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.top-nav button.ant-btn {
  background-color: transparent;
  border: none;
}

.top-band {
  gap: 1vw;
  display: flex;
  align-items: center;
}

.top-band img {
  object-fit: contain;
  padding-left: 1vw;
}

.top-hud button.ant-btn {
  /*
  height: 34px;
  width: 30vh;
  */
  background-color: rgba(76, 160, 170, 0.85);
  color: #fff;
  text-align: left;
}

.top-hud button.ant-btn:hover {
  background-color: #273238;
  color: #fff;
}

.top-hud button span {
  display: block;
}

.top-hud,
.bottom-hud {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.1vh;
}

.top-hud {
  top: 5.5vh;
  left: 0;
  background-color: transparent;
  height: 100%;
  z-index: 22222224;
}

.bottom-hud {
  bottom: 0;
  right: 0;
}
#root .hide {
  display: none !important;
}
